<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2014 杭州数梦工场科技有限公司
  -->

<configuration>

    <property name="APP_NAME" value="ff-learn-log" />

    <property name="level" value="${log.level:-info}" />
    <property name="tag" value="${tags:-default}" />
    <property name="the3rdLevel" value="${the3rdLevel:-info}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level{5} [%C:%M:%L] : [%X{traceId}] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE-INFO" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>MYINFO %date %level{5} %relative --- [%thread] [%C:%M:%L] : [%X{traceId}] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="CONSOLE-WARN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level{5} %relative --- [%thread] [%C:%M:%L] : [%X{traceId}] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="CONSOLE-ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level{5} %relative --- [%thread] [%C:%M:%L] : [%X{traceId}] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>logs/${APP_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <!--<maxHistory>30</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>%date %5level %6relative -&#45;&#45; [%15thread] [%-40logger{40}] [%C:%L] : [%X{traceId}] %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--&lt;!&ndash; 异步输出 &ndash;&gt;-->
    <!--<appender name ="ASYNCFILE" class= "ch.qos.logback.classic.AsyncAppender">-->
        <!--&lt;!&ndash; 不丢失日志,默认的如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 &ndash;&gt;-->
        <!--<discardingThreshold >0</discardingThreshold>-->
        <!--&lt;!&ndash; 更改默认的队列的深度,该值会影响性能.默认值为256 &ndash;&gt;-->
        <!--<queueSize>1024</queueSize>-->
        <!--&lt;!&ndash; 默认false,提取不到调用 &ndash;&gt;-->
        <!--<includeCallerData>true</includeCallerData>-->
        <!--&lt;!&ndash; 添加附加的appender,最多只能添加一个 &ndash;&gt;-->
        <!--<appender-ref ref ="FILE"/>-->
    <!--</appender>-->

    <!--<appender name="running_log" class="com.cwbase.logback.RedisAppender">-->
        <!--<source>${APP_NAME}</source>-->
        <!--<tags>${tag}</tags>-->
        <!--<host>${rLogIp:-127.0.0.1}</host>-->
        <!--<port>${rLogPort:-00}</port>-->
        <!--<key>running_log</key>-->
    <!--</appender>-->

    <!--<appender name="business_log" class="com.cwbase.logback.RedisAppender">-->
        <!--<source>${APP_NAME}</source>-->
        <!--<tags>${tag}</tags>-->
        <!--<host>${bLogIp:-127.0.0.1}</host>-->
        <!--<port>${bLogPort:-00}</port>-->
        <!--<key>business_log</key>-->
    <!--</appender>-->

    <!--<logger name="business" level="info" additivity="false">-->
        <!--<if condition='isDefined("bLogIp")'>-->
            <!--<then>-->
                <!--<appender-ref ref="business_log"/>-->
            <!--</then>-->
        <!--</if>-->
        <!--<appender-ref ref="CONSOLE"/>-->
        <!--&lt;!&ndash;<appender-ref ref="ASYNCFILE"/>&ndash;&gt;-->
    <!--</logger>-->

    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="${log.level}">
        <!--<if condition='isDefined("rLogIp")'>-->
            <!--<then>-->
                <!--<appender-ref ref="running_log"/>-->
            <!--</then>-->
        <!--</if>-->
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="ASYNCFILE"/>-->
    </root>

    <logger name="com.ff" level="info" additivity="false"  >
        <appender-ref ref="CONSOLE-INFO"></appender-ref>
        <appender-ref ref="CONSOLE-WARN"></appender-ref>
        <appender-ref ref="CONSOLE-ERROR"></appender-ref>
    </logger>
    <logger name="kafka" level="${the3rdLevel}" />
    <logger name="org.hibernate" level="${the3rdLevel}" />
    <logger name="org.springframework" level="${the3rdLevel}" />
    <logger name="com.alibaba" level="${the3rdLevel}" />
    <logger name="org.apache" level="${the3rdLevel}" />

    <logger name="io.terminus.license" level="OFF" />
    <logger name="io.terminus.pampas.webc.controller" level="OFF" />
</configuration>
